---
layout: index
title: Home
tagline: Home Page
css: 
js: sliders.js
keywords: home, landing, website, development
---
{% include JB/setup %}
<!-- Content Area Start -->
<div id="content">
      <!-- sliders -->
      <div class="single-testimonial-area">
        <div class="container">
          <div id="single-testimonial-item" class="owl-carousel">
            <!-- Single testimonial Item -->
            <div class="item">
              <div class="row justify-content-md-center">
                <div class="col-md-8 col-xs-12 col-md-auto">
                  <div class="testimonial-inner text-md-center">
                    <blockquote>
                      The lecturer explains materials systematically and clearly and it really helps me, as a beginner in programming field, understand.
                    </blockquote>
                    <div class="testimonial-images">
                      <img class="img-circle text-md-center" src="{{ BASE_PATH }}/assets/images/php-logo.jpg" alt="">
                    </div>
                    <div class="testimonial-footer">
                      <i class="fa fa-user"></i> Olfia Rachmi Widiastuti <br/>
                      <a href="#">Basic PHP Development with Bootstrap, GitHub and Heroku</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Single testimonial Item -->
            <div class="item">
              <div class="row justify-content-md-center">
                <div class="col-md-8 col-xs-12 col-md-auto">
                  <div class="testimonial-inner text-md-center">
                    <blockquote>
                      I really enjoyed this course! I had a very basic knowledge of PHP before enrolling, this course taught me a much more in-depth understanding...All in all, I thought the course was done very well and I learned a great deal from it. The explanations were easy to follow and coding along was effortless. Really nice job! I look forward to future courses from the authors.
                    </blockquote>
                    <div class="testimonial-images">
                      <img class="img-circle text-md-center" src="{{ BASE_PATH }}/assets/images/php-pdo.png" alt="">
                    </div>
                    <div class="testimonial-footer">
                      <i class="fa fa-user"></i> Chris Davis <br/>
                      <a href="#"> Modern PHP Web Development w/ MySQL, GitHub & Bootstrap 4</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Single testimonial Item -->
            <div class="item">
              <div class="row justify-content-md-center">
                <div class="col-md-8 col-xs-12 col-md-auto">
                  <div class="testimonial-inner text-md-center">
                    <blockquote>
                      Logical, comprehensive and sequential.
                    </blockquote>
                    <div class="testimonial-images">
                      <img class="img-circle text-md-center" src="{{ BASE_PATH }}/assets/images/sqlvnosql.jpg" alt="">
                    </div>
                    <div class="testimonial-footer">
                      <i class="fa fa-user"></i> Steve Eilertsen <br/>                      <a href="#"> 
                        MySQL Database Development Mastery</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="row justify-content-md-center">
                <div class="col-md-8 col-xs-12 col-md-auto">
                  <div class="testimonial-inner text-md-center">
                    <blockquote>
                      Took this as review. Great explanations with simple examples and gives options on how to do things via SQL or using a GUI. Wish I had taken this when I was first learning SSMS! Gives a good introduction without going too deep.
                    </blockquote>
                    <div class="testimonial-images">
                      <img class="img-circle text-md-center" src="{{ BASE_PATH }}/assets/images/sql-img.jpg" alt="">
                    </div>
                    <div class="testimonial-footer">
                      <i class="fa fa-user"></i> Alex Koleber <br/>
                      <a href="#"> 
                        Microsoft SQL Server 2017 for Everyone!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="row justify-content-md-center">
                <div class="col-md-8 col-xs-12 col-md-auto">
                  <div class="testimonial-inner text-md-center">
                    <blockquote>
                      He is a very good instructor. I like how I can understand him very well. I am interested in more courses from this one!
                    </blockquote>
                    <div class="testimonial-images">
                      <img class="img-circle text-md-center" src="{{ BASE_PATH }}/assets/images/web-dev.jpg" alt="">
                    </div>
                    <div class="testimonial-footer">
                      <i class="fa fa-user"></i> Antonio Sheppard <br/>
                      <a href="#">Learn ASP.Net MVC and Entity Framework (Database First)</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End sliders -->
                        
            
      <div class="mb-60"></div>
	<div id="features" class="container">
	<!-- SERVICES -->
            <div class="sub-title">
              <span>Enroll Today!</span>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="featured-img">
                  <img src="{{ BASE_PATH }}/assets/images/features/img3.jpg" alt="">
                  <div class="featured-content">
                    <h4>Friendly Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="featured-img">
                  <img src="{{ BASE_PATH }}/assets/images/features/img3.jpg" alt="">
                  <div class="featured-content">
                    <h4>Friendly Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="featured-img">
                  <img src="{{ BASE_PATH }}/assets/images/features/img3.jpg" alt="">
                  <div class="featured-content">
                    <h4>Friendly Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="featured-img">
                  <img src="{{ BASE_PATH }}/assets/images/features/img3.jpg" alt="">
                  <div class="featured-content">
                    <h4>Friendly Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="featured-img">
                  <img src="{{ BASE_PATH }}/assets/images/features/img3.jpg" alt="">
                  <div class="featured-content">
                    <h4>Friendly Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="featured-img">
                  <img src="{{ BASE_PATH }}/assets/images/features/img3.jpg" alt="">
                  <div class="featured-content">
                    <h4>Friendly Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                  </div>
                </div>
              </div>
            </div>
	    </div>
            <div class="mb-60"></div>
	
      <div class="container">
        <h4 class="sub-title space-left">Blog</h4>
      </div>

      <!-- posts carousel -->
      <section id="blog">
        <div class="container">                              
          <div id="posts-carousel" class="owl-carousel">
           {% for post in site.posts %}     
            <div class="blog-block blog block carousel-post">
             {% if post.img %}           
              <img src="{{ BASE_PATH }}/assets/images/{{ post.img }}" alt="">
             {% endif %}           
              <h5>{{ post.title }}</h5>
              <p>{{ post.excerpt }}</p>
              <a href="{{ BASE_PATH }}{{ post.url }}">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
           {% endfor %}     
          </div>              
        </div>
      </section>
      
      <div class="mb-60"></div>
      
	 <div class="container">
	      {% include ads-block.html %}
	 </div>		 
      <div class="mb-60"></div>	
      <div id="counter">
        <div class="container">
          <h4 class="sub-title">Counters</h4>
          <div class="row count-to-sec">
            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-download"> </i></span>
              <h3 class="timer count-value" data-to="561" data-speed="1000">561</h3>
              <hr class="width25-divider">
              <small class="count-title">Downloads</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-user"> </i></span>
              <h3 class="timer count-value" data-to="950" data-speed="1000">950</h3>
              <hr class="width25-divider">
              <small class="count-title">Developers</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-desktop"> </i></span>
              <h3 class="timer count-value" data-to="978" data-speed="1000">978</h3>
              <hr class="width25-divider">
              <small class="count-title">Lines of code written</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-coffee"> </i></span>
              <h3 class="timer count-value" data-to="1700" data-speed="1000">1700</h3>
              <hr class="width25-divider">
              <small class="count-title">Cups of coffee consumed</small>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-60"></div>
	
      <!-- CONTACT FORM -->     
	<div class="container">
	<div class="row">	      
          <div class="col-md-12">
            <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/trevoirwilliams" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/trevoirwilliams', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>
         
          </div>

         
        </div>
	</div>

            
            
<!-- Content area end -->
</div>
